@import '../../../styles/common.scss';
@import '../../../styles/variables.scss';

.am-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: auto;
  flex-shrink: 0;
  box-sizing: border-box;
  padding: 0 12px;
  color: $white;
  font-weight: $font-weight-bold;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  transition: all $animation-duration $animation-timing-fun;
  user-select: none;
  outline: none;
  border: none;
  border-radius: 4px;

  &-default {
    color: $black;
    background-color: $button-default-background-color;
    border: $button-border-width solid $button-default-border-color
  }

  &-primary {
    background: $button-primary-background-color;
    border: $button-border-width solid $button-primary-border-color;
    &:active{
      transition: 500ms;
      background: #0022AD;
    }
  }

  &-success {
    background-color: $button-success-background-color;
    border: $button-border-width solid $button-success-border-color
  }

  &-info {
    background-color: $button-info-background-color;
    border: $button-border-width solid $button-info-border-color
  }

  &-warning {
    background-color: $button-warning-background-color;
    border: $button-border-width solid $button-warning-border-color;
    &:active{
      background: #AD4E09;
    }
  }

  &-danger {
    background-color: $button-danger-background-color;
    border: $button-border-width solid $button-danger-border-color;
    &:active{
      background: #9B0000;
    }
  }

  &-round {
    border-radius: 25px;
  }

  &-disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
    &::before {
      display: none;
    }
  }

  &-normal,
  &-large {
    font-size: $font-size-2;
  }

  &-small,
  &-mini {
    font-size: $font-size-1;
  }

  &-normal {
    height: $button-normal-height;
    line-height: $button-normal-line-height;
  }

  &-large {
    height: $button-large-height;
    line-height: $button-large-line-height;
  }

  &-small {
    height: $button-small-height;
    line-height: $button-small-line-height;
  }

  &-mini {
    height: $button-mini-height;
    line-height: $button-mini-line-height;
  }

  &-normal:not(:last-child),
  &-large:not(:last-child),
  &-small:not(:last-child),
  &-mini:not(:last-child) {
    margin-right: 10px;
  }
  

  &-loading {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &-text{
      margin-left: 5px;
    }
    .loading-spinner{
      &::after{
        top: 2px;
        right: 2px;
        position: absolute;
        content: " ";
        display: inline-block;
        width: 15px;
        height: 15px;
        border: 2px solid #0022ad;
        border-width: 2px;
        border-radius: 10px;
        border-left: none;
        border-bottom: none;
        animation: am-rotate .8s linear infinite;

      }
      &::before{
        position: absolute;
        content: " ";
        top: 2px;
        right: 2px;
        display: inline-block;
        width: 15px;
        height: 15px;
        border: 1px solid #fff;
        border-width: 1px;
        border-radius: 10px;
        // animation: am-rotate .8s linear infinite;

      }
    }

    &--text {
      padding-left: 6px;
    }
  }

  &:active {
    opacity: 0.5;
  }
}
@keyframes am-rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}