h3.default {
  margin-bottom: 1.25rem;
  margin-top: 2.25rem
}

.sidebar {
  width: 16rem !important;
}
.page {
  margin-left: 16rem !important;
}
.logo {
  height: 4rem !important;
}
.container {
  max-width: none !important;
  margin:0 !important;
}
.docs-demo-preview + .content,.docs-demo-preview + .content + .page-footer,.docs-demo-preview + .content + .page-footer + .next-and-prev-link {
  margin-right: 370px !important;
}

.docs-demo-preview {
  height: 660px;
  width: 350px;
  position: fixed;
  right: 25px;
  top: 90px;
  -webkit-box-shadow: #ebedf0 0 4px 12px;
  box-shadow: #ebedf0 0 4px 12px;
  border-radius: 12px;
  overflow: hidden;
}
.docs-demo-preview iframe {
  width: 100%;
  height: 100%;
  border: none !important;
}
.page > .container:first-child {
  padding: 0 3rem 4rem 2rem  !important;
}
