@font-face {
  font-family: "iconfont"; /* Project id 3376474 */
  src: url('iconfont.woff2?t=1653355818399') format('woff2'),
       url('iconfont.woff?t=1653355818399') format('woff'),
       url('iconfont.ttf?t=1653355818399') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\eb6a";
}

.icon-loading:before {
  content: "\e618";
}

.icon-down:before {
  content: "\e6cc";
}

.icon-up:before {
  content: "\e65d";
}

.icon-right:before {
  content: "\e65f";
}

.icon-left:before {
  content: "\e660";
}

.icon-qingchu:before {
  content: "\e665";
}

.icon-shangchuan:before {
  content: "\e670";
}

.icon-dingwei:before {
  content: "\e674";
}

.icon-gouwuche:before {
  content: "\e68a";
}

.icon-shezhi:before {
  content: "\e64b";
}

.icon-shijian:before {
  content: "\e64d";
}

.icon-rili:before {
  content: "\e637";
}

.icon-error:before {
  content: "\e696";
}

.icon-chakan:before {
  content: "\e6cf";
}

.icon-yincang:before {
  content: "\e6d1";
}

.icon-gouxuan:before {
  content: "\e666";
}

.icon-sousuo:before {
  content: "\e664";
}

.icon-zhankai:before {
  content: "\e66b";
}

.icon-yonghu:before {
  content: "\e66c";
}

.icon-shouqi:before {
  content: "\e66e";
}

.icon-xiaoxi:before {
  content: "\e677";
}

