.amber-cell {
  display: flex;
  align-items: center;
  padding: 13px 16px;
  box-shadow: $cell-box-shadow;
  border-radius: $cell-border-radius;
  background-color: $cell-background-color;
  line-height: 20px;
  color: $cell-color;
  font-size: $font-size-2;
  user-select: none;
  border: $cell-border;
  &-container {
    position: relative;
    display: flex;
    flex: 1;
    align-items:flex-start;
    &--title {
      flex: 1;
      .title {
        display: flex;
        align-items: center;
        font-size: $font-size-2;
      }
      .sub-title {
        font-size: $font-size-1;
      }
    }
    &--desc {
      display: inline-block;
      text-align: right;
      font-size: $font-size-2;
      color: $cell-color-desc;
    }
  }
  &.amber-cell--clickable {
    cursor: pointer;
    &:active {
      background-color: $cell-background-color-active;
    }
  }
}
