$amberm-doc-black: #323233;
$amberm-doc-blue: #1989fa;
$amberm-doc-purple: #8080ff;
$amberm-doc-fuchsia: #a7419e;
$amberm-doc-green: #4fc08d;
$amberm-doc-text-color: #34495e;
$amberm-doc-text-light-blue: rgba(69, 90, 100, 0.6);
$amberm-doc-background-color: #f7f8fa;
$amberm-doc-grey: #999;
$amberm-doc-dark-grey: #666;
$amberm-doc-light-grey: #ccc;
$amberm-doc-border-color: #f1f4f8;
$amberm-doc-code-color: #58727e;
$amberm-doc-code-background-color: #f1f4f8;
$amberm-doc-code-font-family: 'Source Code Pro', 'Monaco', 'Inconsolata', monospace;
$amberm-doc-padding: 24px;
$amberm-doc-row-max-width: 1680px;
$amberm-doc-nav-width: 220px;
$amberm-doc-border-radius: 20px;
$amberm-doc-copy-color:#8080ff;

// header
$amberm-doc-header-top-height: 64px;
$amberm-doc-header-bottom-height: 50px;

// simulator
$amberm-doc-simulator-width: 360px;
$amberm-doc-simulator-height: 620px;
