.amber-navbar {
  position: relative;
  user-select: none;
  text-align: center;
  background-color: $white;
  height: $navbar-height;
  line-height: $navbar-line-height;
  box-shadow: $navbar-shadow;
  border-bottom: 1px solid $navbar-border-color;
  &-left {
    position: absolute;
    bottom: 0;
    font-size: $font-size-2;
    left: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    .left-text {
      padding-left: 2px;
    }
  }
  &-right {
    position: absolute;
    bottom: 0;
    font-size: $font-size-2;
    right: 15px;
    cursor: pointer;
  }
  &-title {
    margin: 0 auto;
    max-width: 60%;
    color: $navbar-color;
    font-size: $font-size-3;
    font-weight: $navbar-font-weight;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
  }
}
