:root {
  --color-default: #ebedf0;
  --color-primary: #1A9Dff;
  --color-primary-end: #3267EA;
  --color-warning: #e6a23c;
  --color-danger: #f56c6c;
  --color-success: #67c23a;
  --color-info: #909399;
  --color-disabled: #c0c4cc;
  --color-text: #606266;
  --color-border: #dcdfe6;
  --color-shadow: #D1E9FF;
  --color-background-primary: linear-gradient(209deg, #0EBBFF 0%, #0685FE 100%); 
  --theme-transition: 1s;
  --color-primary-bar-active-background: #409eff26;
  --padding-md:16px;
  --border-radius-xs: 2px;
  --border-radius-md: 4px;
  --border-radius-lg: 8px;
  --padding-xs:5px;
  --padding-md:10px;
  --padding-lg:15px;


}
