:root {
  --am-color-default: #EDF4FF;
  --am-color-primary: #0FBBFF;
  --am-color-main:#1A9DFF;
  --am-color-primary-end: #3267EA;
  --am-color-main1:#0A2A61;
  --am-color-warning: #e6a23c;
  --am-color-danger: #f56c6c;
  --am-color-success: #67c23a;
  --am-color-info: #909399;
  --am-color-disabled: #c0c4cc;
  --am-color-text: #606266;
  --am-color-border: #dcdfe6;
  --am-color-shadow: #D1E9FF;
  --am-color-background-primary: linear-gradient(209deg, #0EBBFF 0%, #0685FE 100%); 
  --am-theme-transition: 1s;
  --am-color-primary-bar-active-background: #409eff26;
  --am-border-radius-xs: 2px;
  --am-border-radius-md: 4px;
  --am-border-radius-lg: 8px;
  --am-padding-xs:4px;
  --am-padding-md:8px;
  --am-padding-lg:12px;
  --am-font-size-sm: 10px;
  --am-font-size-sm1: 12px;
  --am-font-size-xs: 14px;
  --am-font-size-xs1: 16px;
  --am-font-size-md: 18px;
  --am-font-size-md1: 20px;
  --am-font-size-lg: 26px;
  --am-font-size-lg1: 34px;
  --am-background-2:#ffffff;


}
