$primary-color: var(--am-color-primary) !default;
$primary-color-end: var(--am-color-primary-end) !default;

// ---- 基础色 ----
$white: #fff !default;
$black: #314659 !default;

$desc-color: #ccc !default;

$disable-color: #ccc !default;
$border-color: #f5f5f5 !default;

$font-family: PingFang SC, Microsoft YaHei, Helvetica, Hiragino Sans GB, SimSun, sans-serif !default;

// ---- Animation ----
$animation-duration: 0.25s !default;
$animation-timing-fun: cubic-bezier(0.55, 0.085, 0.68, 0.53) !default;

// ---- Font ----
$font-size-0: 10px !default;
$font-size-1: 12px !default;
$font-size-2: 14px !default;
$font-size-3: 16px !default;
$font-size-4: 18px !default;
$font-weight-bold: 400 !default;

$font-size-small: $font-size-1 !default;
$font-size-base: $font-size-2 !default;
$font-size-large: $font-size-3 !default;
$line-height-base: 1.5 !default;

// --- radius ---
$border-radius-size-0: 2px !default;
$border-radius-size-1: 4px !default;
$border-radius-size-2: 6px !default;
$border-radius-size-3: 8px !default;

$border-radius-small: $border-radius-size-0 !default;
$border-radius-base: $border-radius-size-1 !default;
$border-radius-large: $border-radius-size-3 !default;

// ---- button ----
$button-border-width: 1px !default;
$button-normal-height: 38px !default;
$button-normal-line-height: 36px !default;
$button-large-height: 48px !default;
$button-large-line-height: 46px !default;
$button-small-height: 28px !default;
$button-small-line-height: 26px !default;
$button-mini-height: 24px !default;
$button-mini-line-height: 22px !default;
$button-default-border-color: var(--am-color-default) !default;
$button-default-background-color: $white !default;
$button-primary-border-color: var(--am-color-primary) !default;
$button-primary-background-color: var(--am-color-background-primary) !default;
$button-info-border-color: var(--am-color-info) !default;
$button-info-background-color: var(--am-color-info) !default;
$button-success-border-color: var(--am-color-success) !default;
$button-success-background-color: var(--am-color-success) !default;
$button-danger-border-color: var(--am-color-danger) !default;
$button-danger-background-color: var(--am-color-danger) !default;
$button-warning-border-color: var(--am-color-warning) !default;
$button-warning-background-color: var(--am-color-warning) !default;

// cell
$cell-background-color: $white !default;
$cell-background-color-active: #dfdfdf !default;
$cell-color: $black !default;
$cell-color-desc: $desc-color !default;
$cell-border-color: #edeef1 !default;
$cell-border-radius: $border-radius-size-2 !default;
$cell-box-shadow: 0 1px 7px #edeef1 !default;
$cell-label-color: var(--am-color-text) !default;
$cell-right-color:#999999 !default;
$cell-font-size: 16px !default;
$cell-padding-xs:2px !default;
$cell-required-color: var(--am-color-danger) !default;

// cell-ground
$cell-ground-border-bottom: 2px solid $border-color !default;

//cell-group
$cell-group-inset-margin: 5px var(--am-padding-md) !default;
$cell-group-background: #fff !default;

// divider
$divider-color: var(--am-color-text) !default;
$divider-border-color: var(--am-color-border) !default;
$divider-border: 2px solid $divider-border-color !default;
$divider-border-width: 2px 0 0 !default;
$divider-height: 2px !default;
$divider-height-vertical: 12px !default;

// navbar
$navbar-height: 44px !default;
$navbar-line-height: 44px !default;
$navbar-color: $black !default;
$navbar-font-weight: 500 !default;
$navbar-border-color: $border-color;
$navbar-shadow: 0 1px 7px var(--am-color-shadow);